doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href='/')

    title Grand Tour Explorer
    
    // Fonts
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Playfair+Display+SC:400,700,900|Karla:400,700,400italic,700italic|Crimson+Text:400,600,700,400italic,600italic,700italic|Merriweather:400,700italic,900italic,400italic,300italic,700,900,300")

    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    block body